/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}


/*----------------
    TYPOGRAPHY
------------------*/
body{
    font-size: 30px;
}

/*----------------
    BUTTONS
------------------*/


/*----------------
    HEADER
------------------*/

.input-sm{
    width: 100px;
}

/*----------------
    MAIN
------------------*/

/*----------------
    FOOTER
------------------*/